/* You can add global styles to this file, and also import other style files */

.link {
  cursor:pointer;
  color:blue;
  text-decoration:underline;
}

.link:hover {
  text-decoration:none;
  text-shadow: 1px 1px 1px #555;
}
