<ngb-alert [dismissible]="true" (close)="close.emit()" [type]="type">

  {{ comment.data.score > 0 ? '+' : null }}{{ comment.data.score }}

  <span *ngIf="comment.data.author === op">
    <img
      src="https://image.flaticon.com/icons/svg/261/261856.svg"
      height="20px"/>&nbsp;</span>


  <b>u/{{ comment.data.author }}</b> {{ date(comment.data.created) }}

  <app-gildings [gildings]="comment.data.gildings"></app-gildings>

  <p [innerText]="comment.data.body"></p>

  <span
    class="link"
    *ngIf="replies.length > 0"
    (click)="show = !show">
    {{ show ? 'hide' : 'show'}} {{replies.length}} comment{{ replies.length > 1 ? 's' : '' }}
  </span>

  <span *ngIf="show && replies.length > 0">&nbsp;</span>

  <span
    class="link"
    *ngIf="show && replies.length > 1"
    (click)="flip()">
    reverse
  </span>

  <div *ngIf="show && replies.length > 0">

    <hr/>

    <span *ngFor="let comment of repliesReverse; let i = index">
      <app-comment
        *ngIf="i < limit"
        [url]="url"
        [comment]="comment"
        [level]="level + 1"
        (close)="closeComment(comment)"
        [op]="op"></app-comment>
    </span>

    <button
      [ngClass]="['btn', 'btn-' + type, 'btn-block']"
      (click)="limit = limit + 2"
      *ngIf="limit < replies.length">
      more({{ replies.length - limit }})
    </button>

  </div>

</ngb-alert>
